html {
  background-color: black;
}

body {
  font-family: "Roboto", sans-serif;
  width: 1450px;
  margin: auto;
}

header {
  background-color: #1f2937;
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #1f2937;
  height: 75px;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
  font-weight: 900;
}

.header-menu {
  font-size: 18px;
  color: #e5e7eb;
}

.header-menu ul {
  display: flex;
  padding: 0px;
}

.header-menu li {
  padding: 0px 20px;
  list-style: none;
}

.area-one {
  background-color: #1f2937;
  padding: 100px 200px;
  display: flex;
}

.area-one-left {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding-right: 50px;
}

.area-one-right {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.area-two,
.area-four {
  background-color: white;
}

.area-two {
  padding: 50px 0;
}

.area-three {
  background-color: #e5e7eb;
  padding: 150px 0;
}

.area-four {
  padding: 75px;
}

/* body * {
  border: 1px solid red;
} */
